<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dessert_club_application">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dessert_Club_Application">
        <activity
            android:name=".forgotPassword"
            android:exported="true" />

        <activity
            android:name=".InquiryAdd"
            android:exported="true" />

        <activity
            android:name=".InquiryRetrieve"
            android:exported="true" />

        <activity
            android:name=".UserProfile"
            android:exported="true" />

        <activity
            android:name=".user_register"
            android:exported="true" />

        <activity
            android:name=".home_page"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true" />
        <activity android:name=".customizedcake"
            android:exported="true"/>
        <activity android:name=".your_customized_details"
            android:exported="true"/>
        <activity android:name=".Activity_cover">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>